<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yepsolutions.myv600application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home_page.HelpActivity"></activity>
        <activity android:name=".home_page.SettingsActivity" />
        <activity android:name=".home_page.MapActivity" />
        <activity android:name=".home_page.UserActivity" />
        <activity
            android:name=".home_page.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home_page.ManageCreditActivity"
            android:label="@string/title_activity_manage_credit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserAreaActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>